div.listItem
  display: flex
  padding: 15px 0
  color: #333333
  font-size: 15px

  .listItemContent
    display: flex
    flex-direction: column
    flex-grow: 1

  .listItemActions
    display: flex
    flex-grow: 0
    justify-content: flex-end
    align-items: center
    width: 120px

    button
      margin: 3px
